/* CSS Fonts */
@import url(https://fonts.googleapis.com/css?family=Barlow Condensed);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/* ================================================================
 * CSS reset: see https://www.joshwcomeau.com/css/custom-css-reset/
 * ================================================================ */

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* Typographic tweaks!
 * 3. Add accessible line-height
 * 4. Improve text rendering */
body {
    font-size: 12pt;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* spacing on tables */
table {
    border-spacing: 0px;
}

/* ====================
 * Global CSS variables
 * ==================== */
:root {
    --bg-blind: hsl(250, 30%, 2%);
    --bg-dark: hsl(250, 30%, 5%);
    --bg: hsl(250, 30%, 10%);
    --bg-light: hsl(250, 30%, 15%);
    --primary: hsl(10, 60%, 70%);
    --primary-light: hsl(10, 90%, 70%);
    --primary-dark: hsl(10, 60%, 50%);
    --accent: hsl(70, 60%, 70%);
    --accent-light: hsl(70, 90%, 70%);
    --spacing: 1rem;
    --typo-spacing: 0.5rem;
    --fg: #e3e4e5;
    --bd-width: 2px;
    --bd-color: var(--primary);
    --monospaces: Inconsolata, "monospace";
}


/* ======================================= 
 * Background colors of container elements 
 * ======================================= */
body {
    background: var(--bg);
    color: var(--fg);
    font-family: "Montserrat", "Open Sans", sans serif;
}
#container { background: var(--bg); }

/* ===========
 * Page layout
 * =========== */
#main {
    display: grid;
    grid-template-columns: max-content auto;
    background: var(--bg);
}

/* ==============
/* Spacing setups
/* ============== */

#content {
    padding: var(--spacing);
}


/* ================
 * Micro adjustment
 * ================ */
ul {
    list-style-type: square;
}

h1, h2, h3 { 
    font-family: "Barlow Condensed", sans;
    font-weight: bold;
}

a {
    text-decoration: none; /* get rid of the underline */
    color: var(--primary);
}

a: hover {
    color: var(--primary-light);
}



/* ===============
 * Code formatting
 * =============== */
pre {
    background-color: var(--bg-light);
    padding: var(--spacing);
    margin: 0;
}

td {
    border: 1px solid var(--fg);
    padding: var(--typo-spacing);
    margin: 0;
}

td.name {
    padding-top: var(--typo-spacing);
    padding-bottom: var(--typo-spacing);
}

dl.function {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: var(--spacing);
}

dl.function dt strong {
    color: var(--primary);
}

dl.function dt, dl.function dd {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

dl.function dt {
    border-right: var(--bd-width) solid var(--fg);
    padding-right: var(--spacing);
}

ul:has(> pre) {
    padding-left: 0;
    margin-top: var(--typo-spacing);
}

span.types ::before { content: "("; }
span.types ::after { content: ")"; }

ul :has(> pre) {
    margin-left: 0;
    padding: 0;
}

li pre { padding: var(--typo-spacing); }
li:has(> pre) { margin-bottom: var(--typo-spacing); }

pre,
code,
.function dt,
.parameter,
.type,
.types,
td.name {
    font-size: inherit;
    font-family: var(--monospaces);
}

/* =====================
 * Main content elements 
 * ===================== */
#content h1, #content h2 {
    padding-top: var(--spacing);
    margin-bottom: calc(0.75 * var(--spacing));
    flex-flow: 1;
}

#content h1 {
    border-bottom: var(--bd-width) solid var(--primary-dark);
    color: var(--primary-dark);
}

#content h1 code {
    font-family: inherit;
    font-style: italic;
}

#content h2 {
    border-bottom: var(--bd-width) solid var(--fg);
    font-weight: bold;
    color: var(--fg) !important;
}

#content h2 a {
    color: inherit !important;
    border-color: inherit !important;
}


/* ===================
 * Sidebar CSS theming
 * =================== */
#navigation {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: var(--spacing);
    padding-top: 0;
    border-right-width: 1px;
    border-right-color: black;
    background: var(--bg-dark);
}

#navigation h1 {
    margin-top: 0;
    margin-bottom: var(--spacing);
    color: var(--primary-dark) !important;
    padding: var(--spacing);
    border: 1px solid;
}

#navigation h1 a {
    color: var(--primary-dark);
}

#navigation h2 {
    border-bottom: var(--bd-width) solid var(--fg);
}

#navigation ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: var(--spacing);
}

#navigation ul li {
    margin-bottom: calc(var(--spacing) * 0.5);
}

#navigation ul li strong {
    border-left: 5px solid var(--primary-dark);
    color: var(--primary-dark);
    padding-left: 5px;
}

#about {
    padding: var(--spacing);
    background: var(--bg-blind);
}

/* ===================================
 * styles for prettification of source
 * =================================== */
pre .comment { color: hsl(87, 65%, 60%); }
pre .constant { color: hsl(15, 50%, 50%); }
pre .escape { color: #844631; }
pre .keyword { color: hsl(0, 50%, 50%); font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: hsl(240, 70%, 70%); }
pre .number { color: hsl(23, 50%, 50%); }
pre .function-name { color: hsl(200, 65%, 60%); }
pre .operator { color: hsl(230, 50%, 50%); font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: hsl(200, 65%, 60%); }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }
